header{
   
    background: url(./images/header3.png) no-repeat center center;
    
    top: -142px;
    height: 309px;
    position: relative;

}
*::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }
body{
    overflow-x: hidden;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  .checkoutdest{
    color: #193555; font-family: 'Poppins'; font-size: 40px;position: relative;left: 230px;
      top: -180px;
  }
  .pricelabel{
    color:#193555; font-family: 'Poppins'; font-size: 18px; position: relative; left: 230px; top: -170px;
  }
  .quantitylabel{
    color:#193555; font-family: 'Poppins'; font-size: 18px; position: relative; left: 230px; top: -197px;
  }
  .batchlabel{
    color:#193555; font-family: 'Poppins'; font-size: 18px; position: relative; left: 230px; top: -190px;
  }
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {

    padding: 5px 20px 15px 20px;
  
    border-radius: 3px;
    top: -84px;
    position: relative;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: #000;
    position: relative;
   
    font-family: 'Montserrat';
    position: relative;
  }
  
  #firstNumber{
    
    font-size: 18px;
  }
  .price{
    top: -224px;
    font-size: 30px;
    left: 982px;
    position: relative;
  }
  .people{
    position: relative;
    top: -27px;
  }
  .batch{
    position: relative;
    top: -19px;
    left: -22px;
  }
  .mode{
   
    left: 293px;
    top: -202px;
position: relative;
    font-size: 18px;
    
  }
  .details{
    position: relative;
    top: -50px;
  }
  
  #secondnumber{
    top: -203px;
    left: -785px;
    font-size: 18px;
  }
  #batch {
    top: -204px;
    left: -610px;
    font-size: 18px;
}
  hr{
    margin-top: -127px;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 480px) {
    .row {
      flex-direction: column-reverse;
    }
    .quantitylabel {
      top: -198px;
      left: 96px;
  }
  .people {
    position: relative;
    top: -133px;
    left: 857px;
}
.batchlabel {
  left: 97px;
  top: -152px;
  top: -190px;
}
#batch {
  top: -204px;
  left: -854px;
  font-size: 18px;
}
.payment{
  top: -48px;
    position: relative;
}
    .checkoutdest{
      font-size: 30px;
      position: relative;
      
      top: -267px;
      left: -3px;
    }
    .mode {
      top: -201px;
      left: 161px;
  }
  

    .price {
      top: -61px;
      font-size: 30px;
      left: 13px;}
    .col-25 {
      margin-bottom: 20px;
      top: -1278px;
      width: 380px;
      position: relative;
  }
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
    top: 532px;
    position: relative;
}
  }