@media only screen and (max-width:1280px) {
	html,
	body {
		font-size:14px;
	}

	.about-para {
		margin-bottom:20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top:90px;
	}
	.social-icons {
		color: #fff;
		display: inline;
		float: right;
		z-index: 100;
		left: 18px;
		position: relative;
	}
	.details2 {
		height: 197px;
		width: 270px;
		left: 107px;
		position: relative;
	}
	.slider-controls {
		margin-top: 30px;
		text-align: center;
		left: -114px;
		position: relative;
	}
	.details {
		height: 300px;
		width: 300px;
		padding: 10px 10px;
		position: relative;
		bottom: 126px;
		position: relative;
		left: -97px;
	}
	.imageblock {
		height: 300px;
		width: 252px;
		display: inline-grid;
		margin-left: 0px;
		position: relative;
		left: -1px;
	}
	.contact-info {
		padding: 10px;
		position: relative;
		left: -172px;
	}
	.footer-col {
		padding: 10px 50px;
		position: relative;
		left: -192px;
	}
	.contacts {
		text-decoration: none;
		list-style: none;
		width: 300px;
		left: -20px;
		position: relative;
	}
	.social-list{
		width: 300px;
	}	
	.sidebar {
		position: relative;
		top: -200px;
		left: 100px;
	}
    .trip-overall {
        position: relative;
        top: -613px;
        left: -96px;
    }
    
    footer {
        background-color: #303030;
        left: -18px;
        position: relative;
        width: 1565px;
        top: -104px;
    }

}

@media only screen and (max-width:480px){
    html,body{
        font-size: 75%;

    }
    .searchInput {
        width: 30rem;
        height: 5rem;}

    .destination-head{
        position: relative;
        top: 205px;
        font-size: 35px;
    }
    .destination-head2{
        position: relative;
        top: 112px;
        font-size: 35px;
    }
    .explore-dest{
        top: 115px;
        position: relative;
    }
 
    .card {
        left: -406px;
        height: 300px;
        width: 300px;
        margin-bottom: 79px;
    }
    .card-front {
        background-color: #fafbfa;
        height: 40rem;
        width: 26rem;
        left: -126px;
    }
    .card-front__tp--city {
        background-size: cover;
        height: 300px;
        
    }
    .back-image{
        height: 323px;
        width: 300px;
        position: relative;
        top: -21px;
    }
    .label1{
        left: 13px;
        font-size: 30px;
    }
    .contact-info{
		margin-left: 36px;
	}
    .learn-more {
        
        position: relative;
        top: 156px;
        left: 105px;
    }
	.footer-col{
		position: relative;
		left: -37px;
	}
    .nodata{
        position: relative;
        font-size: 20px;
        top: -161px;
        left: 240px;
    }
    .footer{
       position: relative;
       top: 1890px;
    }
    .rights{
        top: 14px;
    }
    .nav-link{
		position: relative;
		left: 100px;
	}
	
	.call-button{
		position: relative;
		left: 18px;
        
    top: 22px;
	}
	.mail-button{
		position: relative;
        top: 7px;
        left: 106px;
	}
	.social{
		position: relative;
        left: -53px;
        top: -14px;
    
	}
	.signup-button{
		position: relative;
		left: 33px;
		top: -9px;
	}
	.navbar{
		position: relative;
		left: -50px;
	}
    #hamburger{
        left: 363px;
    }
    #close{
        left: 356px;
    }
    #nav #menuWrapper {
        height: 300px;
        overflow-y: auto;
        left: -552px;
        font-size: 15px;
    }
    #nav ul li {
        display: block;
        clear: both;
        overflow: hidden;
        width: 100%;
        left: 197px;
    }
    .call-button{
		position: relative;
		left: 18px;
        
    top: 22px;
	}
	.mail-button{
		position: relative;
        top: 7px;
        left: 106px;
	}
	.social{
		position: relative;
        left: -53px;
        top: -14px;
    

	}
    .secondnav{
         position: relative;
         left: -19px;
    top: -249px;
    }
    .sidebar{
        
    left: 71px;
    top: 2156px;

    }
    .book{
        left: -133px;
        top: -42px;
    
    }
    .trip-overall{
        top: -1385px;
        left: -178px;
    
    }
    .trip-details-photos{
        width: 438px;
    }
    .detail-link,
    .itinerary-link,
    .reviews-link{
        left: 20px;
    }
    .trip-overview,
    .trip-details{
        width: 400px;
        font-size: 15px;
    }
    #main{
        height: 234px;
    }
    .col3{
        font-size: 15px;
    }
    .lists{
        position: relative;
        left: 150px;
        font-size: 15px;
    }
    .expect{
        font-size: 15px;
    }
    .accordion{
        font-size: 15px;
    }
    
}
@media only screen and (max-width:450px){
    body,html{
        overflow-x: hidden;
       
    }
    .card {
        left: -465px;
        height: 300px;
        width: 300px;
    }
    .call-button {
        position: relative;
        left: 18px;
        top: 22px;
        font-size: 10px;
    }
    .mail-button {
        position: relative;
        top: 7px;
        left: 106px;
        font-size: 10px;
    }
    .social {
        position: relative;
        left: -60px;
        top: -17px;
        font-size: 10px;
    }
    .card-section{
        left: 53px;
    position: relative;
    }
    #hamburger {
        left: 325px;
    }
    .card-front__text-view--city {
        color: #ff62b2;
        font-size: 15px;
    }
    .searchInput {
        width: 20rem;
        height: 3rem;
        padding: 0 3rem;
        border-radius: 2rem;
        border: none;
        transition: transform 0.1s ease-in-out;
    }
    .searchInputIcon {
        position: absolute;
        right: 1.8000000000000007rem;
        top: 14px;
        color: #a1a1a1;
        transition: all 0.1s ease-in-out;
    }
    .destination-head {
        position: relative;
        top: 159px;
        font-size: 35px;
    }
    .related {
        border-radius: 10px;
        height: 342px;
        width: 343px;
    }
    .trip-name {
        position: relative;
        font-size: 25px;
        font-family: 'Poppins';
        color: #373737;
    }
    *::-webkit-scrollbar {
		width: 1px;
	  }
	
	  *::-webkit-scrollbar-track {
		background: #ffffff;
	  }
	
	  *::-webkit-scrollbar-thumb {
		background-color: #7a7a7a;
		border-radius: 15px;
		border: 3px solid #ffffff;
	  }
  
    #nav.showNav #menuWrapper {
        overflow: hidden;
        font-size: 15px;
        left: -167px;
        top: 14px;
    }
    .detail-link, .itinerary-link, .reviews-link {
    left: 20px;
    font-size: 12px;
}
    #nav.showNav #close {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        left: 318px;
    }
    #mainImage {
        height: 241px;
        width: 329px;}
    #close {
        left: 371px;
        top: 20px;
    }
    .trip-details-photos{
        top: -326px;

        width: 368px;
    
    }
    .trip-overview, .trip-details {
        width: 309px;
        font-size: 12px;
        top: -295px;
    }
    .trip-basics {
        top: -447px;
        position: relative;
    }
    
    .accordion {
        font-size: 15px;
        left: 179px;
        top: 360px;
        width: 380px;
    }
    .col3 {
        font-size: 12px;
        width: 5px;
    }
    
    .trip-det {
            left: 170px;
            top: -71px;
            position: relative;
        }
    
    .lists {
        position: relative;
        left: -13px;
        width: 300px;
        top: -50px;
        font-size: 15px;
    }
    .sidebar {
        left: 201px;
        top: 3830px;
        width: 300px;
    }
    .checkout{
        width: 336px;
        /* border: 1px solid; */
        box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
        z-index: 2;
        position: relative;
        float: right;
        right: 130px;
        top: -100px;
        left: -144px;
    
    }
}