/* Big tablets to smaller laptop screens*/
@media only screen and (max-width:1200px) {
	html,
	body {
		font-size:14px;
	}

	.about-para {
		margin-bottom:20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top:90px;
	}

}

/* Smaller tablets to larger tablet screens*/
@media only screen and (max-width:1023px) {
	html,
	body {
		font-size:12px;
	}

	.row {
		padding:0 2%;
	}

	.about-box {
		margin-top:60px;
	}

	.about-box:first-child {
		padding:0;
		padding-left:5%;
	}

	.laptop-image {
		padding-right:5%;
	}

	.package-box {
		width:100%;
	}

	.package-heading {
		margin-bottom:25px;
	}

	footer {
		padding:30px;
	}

	footer p {
		margin-top:20px;
		line-height:1.3;
	}
}

/* larger phones  to smaller tablet screens*/
@media only screen and (max-width:767px) {
	html,
	body {
		font-size:10px;
	}

	.header-text-box {
		margin-bottom:50px;
	}

	.about-heading {
		margin-bottom:20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top:60px;
	}

	.section-heading {
		margin-bottom:10px;
	}

	.section-sub-heading:after {
		margin:15px auto 0 auto;
	}

	.testimonial-heading {
		margin-bottom:10px;
	}
}

/* smaller to larger mobile phones*/
@media only screen and (max-width:480px) {
	html{
		font-size: 55%;
	}
	.mount{
		font-size: 45px;
		text-align: center;
		position: relative;
		left: -87px;
		top: -3px;
	}
	.monks{
		font-size: 40px;
		position: relative;
		left: 221px;
    top: -62px;
	}
	header{
	    height: 349px;
    width: 397px;
	}
	.vertical{
		position: relative;
		top: -42px;
		height: 55px;
		width: 2px;
	
	}
	.alltours{
		position: relative;
    height: 30px;
    width: 93px;
	top: 37px;
    left: 142px;

	}
	.section-heading{
		font-size: 20px;
    position: relative;
    top: -44px;
    left: -44px;
	}
	.section-heading::after{
		width: 50px;
		position: relative;
		top: -20px;
	}
	.details2{
		height: 55px;
		width: 123px;
		margin-bottom: 127px;
	    left: -58px;
    top: -104px;
		z-index: 2;
	}
	.explore-icons{
		height: 45px;
		width: 45px;
	}
	.explore-heads{
		font-size: 12px;
    width: 207px;
    position: relative;
    left: 22px;
    margin-left: 7px;
    top: -10px;
    padding: 2px 55px;
	}
	.weekend{
		left: -3px;
		top: -148px;
	
	}
	.custom{
		left: 3px;
		top: -148px;
	}
	.choose-us-page{
		top: -157px;
    left: -44px;
    position: relative;
    width: 150%;
	}
	.chooseus{
		width: 200%;
		position: relative;
		top: 8px;
	}
	.binoculars{
		position: relative;
		top: 51px;
		left: 61px;
	
	}
	.chooseushead{
		font-size: 20px;
		position: relative;
		top: -128px;
		left: 125px;
	}
	.chooseushead::after{
		width: 50px;
		margin-top: -20px;
	}
	footer{
		position: relative;
	
		top: -842px;
	
	}
	.contact-info{
		margin-left: 36px;
	}
	.footer-col{
		position: relative;
		left: -95px;
	}
	.imageblock{
		height: 166px;
		width: 185px
	}
	.brandlogo{
		height: 109px;
		width: 142px;
		top: -211px;
	}
	.chooseusimg{
		position: relative;
		height: 241px;
		width: 362px;
		top: -554px;
		left: 102px;
	
	}
	.details{
		position: relative;
    font-size: 12px;
    left: -133px;
    height: 100px;
    top: -199px;
    width: 195px;

	
	}
	.chooseuscontent{
		width: 50%;
    font-size: 12px;
    top: -119px;
	}
	.detail-logos{
		height: 30px;
		width: 30px;
		position: relative;
		left: 204px;
		
	}
	.detail-heading{
		font-size: 15px;
    left: 147px;
    top: 28px;
    position: relative;
	}
	.detail-content{
		font-size: 8px;
    width: 219px;
    position: relative;
    left: 112px;
    top: 25px;
    padding: 9px 51px;
    margin-right: 61px;
	}
	.rights{
		position: relative;
		top: -844px;
	}
    
	.chooseusmount{
		width: 200px;
		height: 200px;
		position: relative;
		top: 504px;
    left: -28px;}
	.learnmore{
		
		position: relative;
		/* bottom: 258px; */
		top: -105px;
		font-size: 15px;
	
	}
	.aboutusimg{
		height: 241px;
    width: 321px;
    position: relative;
  
    top: -127px;
    left: -1px;

	}
	.aboutushead{

		font-size: 20px;
		position: relative;
		top: 148px;
		left: 125px;
	}
	.aboutushead::after{
		width: 50px;
		margin-top: -20px;
	}
	.aboutus{
		position: relative;
		width: 80%;
		position: relative;
		float: right;
		left: -9px;
		/* bottom: 538px; */
		top: -470px;}
	.flag{
		top: 377px;
		position: relative;
	}
	.aboutuscontent{
		width: 90%;
    font-size: 12px;
    top: 144px;
	}
	#counter{
		display: block;
	}
	.counter-title{
		display: flex;
		margin-top: -10px;
		text-align: center;
		left: 40px;
		font-size: 15px;
	}
	.counter-txt{
		width: 212px;
    height: 139px;
    left: 47px;
	top: 439px;
	}
	
	.reviews{
		position: relative;
	    top: -799px;
	}
	
	.counter-value{
		font-size: 30px;
	}
	.section-heading2{
		position: relative;
		font-size: 30px;
		float: left;
		left: 128px;
		top: -45px;
	}
	.testimonial{
		top: -301px;
		position: relative;
	}
	.companiessection{
		z-index: 2;
		float: left;
		top: -546px;
		left: 48px;
	}
	.companiessection .row{
		position: relative;
		top: -100px;
		
    width: 332px;
	}
	.section-heading h2{
		font-size: 30px;
    position: relative;
    top: -231px;
    left: 20px;
	}
	.sliders{
		position: relative;
		top: -273px;
		left: -30px;
	}
	.sliders h1{
		font-size: 25px;
	}
	.slider-wrapper{
		position: relative;
		left: -152px;
	}
	.slider-controls span{
		position: relative;
		left: 119px;
    top: -27px;
	}
	.photos-section{
		position: relative;
    top: -847px;
    left: 8px;
    width: 502px;
	}
	.nav-link{
		position: relative;
		left: 100px;
	}
	
	.call-button{
		position: relative;
		left: 18px;
        
    top: 22px;
	}
	.mail-button{
		position: relative;
        top: 7px;
        left: 106px;
	}
	.social{
		position: relative;
        left: -53px;
        top: -14px;
    
	}
	.signup-button{
		position: relative;
		left: 33px;
		top: -9px;
	}
	.navbar{
		position: relative;
		left: -50px;
	}
}