/* Big tablets to smaller laptop screens*/
@media only screen and (max-width:1280px) {
	html,
	body {
		font-size:14px;
	}

	.about-para {
		margin-bottom:20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top:90px;
	}
	.social-icons {
		color: #fff;
		display: inline;
		float: right;
		z-index: 100;
		left: 18px;
		position: relative;
	}
	.details2 {
		height: 197px;
		width: 270px;
		left: 107px;
		position: relative;
	}
	.slider-controls {
		margin-top: 12px;
		text-align: center;
		left: -19px;
		position: relative;
	}
	.details {
		height: 300px;
		width: 300px;
		padding: 10px 10px;
		position: relative;
		bottom: 126px;
		position: relative;
		left: -97px;
	}
	.imageblock {
		height: 300px;
		width: 252px;
		display: inline-grid;
		margin-left: 0px;
		position: relative;
		left: -1px;
	}
	.contact-info {
		padding: 10px;
		position: relative;
		left: -172px;
	}
	.footer-col {
		padding: 10px 50px;
		position: relative;
		left: -192px;
	}
	.contacts {
		text-decoration: none;
		list-style: none;
		width: 300px;
		left: -20px;
		position: relative;
	}
	.social-list{
		width: 300px;
	}	
	.sidebar {
		position: relative;
		top: -200px;
		left: 100px;
	}

}

/* Smaller tablets to larger tablet screens*/
@media only screen and (max-width:1023px) {
	html,
	body {
		font-size:12px;
	}

	.row {
		padding:0 2%;
	}

	.about-box {
		margin-top:60px;
	}
	.boxes{
		bottom: 560px;
		left: 43px;
	}

	.about-box:first-child {
		padding:0;
		padding-left:5%;
	}

	.laptop-image {
		padding-right:5%;
	}

	.package-box {
		width:100%;
	}

	.package-heading {
		margin-bottom:25px;
	}

	footer {
		padding:30px;
	}

	footer p {
		margin-top:20px;
		line-height:1.3;
	}
}

/* larger phones  to smaller tablet screens*/
@media only screen and (max-width:767px) {
	html,
	body {
		font-size:10px;
	}

	.header-text-box {
		margin-bottom:50px;
	}

	.about-heading {
		margin-bottom:20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top:60px;
	}

	.section-heading {
		margin-bottom:10px;
	}

	.section-sub-heading:after {
		margin:15px auto 0 auto;
	}

	.testimonial-heading {
		margin-bottom:10px;
	}
}

/* smaller to larger mobile phones*/

@media only screen and (max-width:480px) {
	html{
		font-size: 55%;
		overflow-x: hidden;

	}
	.mount{
		font-size: 45px;
		text-align: center;
		position: relative;
		left: -87px;
		top: -3px;
	}
	.monks{
		font-size: 40px;
		position: relative;
		left: 221px;
    top: -62px;
	}
	header{
		height: 327px;
		width: 480px;
    top: -70px;
	margin-bottom: 95px;
	}
	
	.vertical{
		position: relative;
		top: -42px;
		height: 55px;
		width: 2px;
	
	}
	.alltours{
		position: relative;
    height: 30px;
    width: 93px;
	top: 37px;
    left: 142px;

	}
	.section-heading{
		font-size: 20px;
    position: relative;
    top: -44px;
    
	}
	.section-heading::after{
		width: 50px;
		position: relative;
		top: -20px;
	}
	.details2{
		height: 55px;
		width: 169px;
    margin-bottom: 127px;
    left: 19px;
  
    top: -100px;
		z-index: 2;
	}
	.explore-icons{
		height: 45px;
		width: 45px;
	}
	.explore-heads{
		font-size: 12px;
    width: 207px;
    position: relative;
    left: 22px;
    margin-left: 7px;
    top: -10px;
    padding: 2px 55px;
	}
	.weekend{
		left: 19px;
		top: -148px;
	
	}
	.backpack{
		top: -148px;
		left: 19px;
	}
	.custom{
		left: 3px;
		top: -148px;
	}
	.choose-us-page{
		top: -157px;
    left: -44px;
    position: relative;
    width: 150%;
	}
	.chooseus{
		width: 200%;
		position: relative;
		top: 8px;
		left: 2000px;
	}
	.binoculars{
		position: relative;
		top: 51px;
		left: 61px;
	
	}
	.chooseushead{
		font-size: 20px;
		position: relative;
		top: -128px;
		left: 125px;
	}
	.chooseushead::after{
		width: 50px;
		margin-top: -20px;
	}
	footer{
		position: relative;
	
		top: -2178px;
	
	}
	.contact-info{
		margin-left: 36px;
	}
	.footer-col{
		position: relative;
		left: -95px;
	}
	.imageblock{
		height: 204px;
		width: 183px;
	}
	.brandlogo{
		height: 109px;
		width: 142px;
		top: -211px;
	}
	.chooseusimg{
		position: relative;
		height: 298px;
    width: 440px;
    top: -554px;
    left: 53px;
	
	}
	.details{
		position: relative;
    font-size: 12px;
    left: -133px;
    height: 100px;
    top: -199px;
    width: 195px;

	
	}
	.chooseuscontent{
		width: 50%;
    font-size: 12px;
    top: -119px;
	}
	.detail-logos{
		height: 30px;
		width: 30px;
		position: relative;
		left: 204px;
		
	}
	.detail-heading{
		font-size: 15px;
    left: 147px;
    top: 28px;
    position: relative;
	}
	.detail-content{
		font-size: 8px;
    width: 219px;
    position: relative;
    left: 112px;
    top: 25px;
    padding: 9px 51px;
    margin-right: 61px;
	}
	.rights{
		position: relative;
		top: 28px;
    width: 480px;
    left: -15px;
	}
    
	.chooseusmount{
		width: 200px;
		height: 200px;
		position: relative;
		top: -425px;
    left: 53px;}
	.container{
		top: -400px;
	}
	.learnmore{
		
		position: relative;
		/* bottom: 258px; */
		top: -105px;
		font-size: 15px;
	
	}
	.aboutusimg{
		height: 241px;
    width: 321px;
    position: relative;
  
    top: -127px;
    left: -1px;

	}
	.aboutushead{

		font-size: 20px;
		position: relative;
		top: 148px;
		left: 125px;
	}
	.aboutushead::after{
		width: 50px;
		margin-top: -20px;
	}
	.aboutus{
		position: relative;
		width: 80%;
		position: relative;
		float: right;
		left: -9px;
		/* bottom: 538px; */
		top: -470px;}

	.container-search{
		top: -297px;
	}
	.flag{
		top: 377px;
		position: relative;
	}
	.aboutuscontent{
		width: 90%;
    font-size: 12px;
    top: 144px;
	}
	#counter{
		display: block;
		top: -1531px;
left: 78px;
	}
	.counter-title{
		display: flex;
		margin-top: -10px;
		text-align: center;
		left: 40px;
		font-size: 15px;
	}
	.counter-txt{
		width: 212px;
    height: 139px;
    left: 47px;
	top: 439px;
	}
	
	.reviews{
		position: relative;
	    top: -799px;
		left: 2000px;
	}
	
	.counter-value{
		font-size: 30px;
	}
	.section-heading2{
		position: relative;
		font-size: 30px;
		float: left;
		left: 128px;
		top: -45px;
	}
	.testimonial{
		top: -301px;
		position: relative;
	}
	.testimonial-slide{
		width: 300px;
	}
	.companiessection{
		z-index: 2;
		float: left;
		top: -546px;
		left: 48px;
	}
	.companiessection .row{
		position: relative;
		top: -100px;
		
    width: 332px;
	}
	.section-heading h2{
		font-size: 30px;
    position: relative;
    top: -231px;
    left: 20px;
	}
	.sliders{
		position: relative;
		top: -377px;
    left: -25px;
	}
	.sliders h1{
		font-size: 25px;
	}
	.slider-wrapper{
		position: relative;
		left: -84px;

	}
	.sliders2{
		position: relative;
		top: -537px;
    left: -16px;
	}
	.sliders2 h1{
		font-size: 25px;
	}
	.slider-wrapper{
		position: relative;
		left: -84px;

	}
	.slider-controls span{
		position: relative;
		left: 119px;
    top: -27px;
	}
	.photos-section{
		position: relative;
    top: -1948px;
    left: 8px;
    width: 502px;
	}
	.nav-link{
		position: relative;
		left: 100px;
	}
	
	.call-button{
		position: relative;
		left: 18px;
        
    top: 22px;
	}
	.mail-button{
		position: relative;
        top: 7px;
        left: 106px;
	}
	.social{
		position: relative;
        left: -53px;
        top: -14px;
    
	}
	.signup-button{
		position: relative;
		left: 33px;
		top: -9px;
	}
	.navbar{
		position: relative;
		left: -50px;
	}
	
}@media only screen and (max-width:400px) {
	body{
		height: max-content;
	}
	*::-webkit-scrollbar {
		width: 1px;
	  }
	
	  *::-webkit-scrollbar-track {
		background: #ffffff;
	  }
	
	  *::-webkit-scrollbar-thumb {
		background-color: #7a7a7a;
		border-radius: 15px;
		border: 3px solid #ffffff;
	  }
	html{
		font-size: 55%;
		overflow-x: hidden;
	}
	#hamburger {
		left:135px;
		position: relative;
		top: 11px;
	
	}
	#close{
		left: 138px;
		position: relative;
		top: -18px;
	}
	#nav.showNav #menuWrapper {
		height: 300px;
		overflow-y: auto;
		left: -362px;
		font-size: 15px;
		left: 12px;
	}
	#nav.showNav #close {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		position: relative;
		top: -50px;
    left: 319px;
	}
	#nav.showNav #hamburger {
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px);
		position: relative;
		top: -50px;
    left: 400px;
	}
	.mount{

		font-size: 45px;
		text-align: center;
		position: relative;
		left: -87px;
		top: -3px;
	}
	.monks{
		font-size: 40px;
		position: relative;
		left: 221px;
    top: -62px;
	}
	header{
		height: 299px;
		width: 382px;
		top: -70px;
		margin-bottom: 95px;
	}
	
	.vertical{
		position: relative;
		top: -42px;
		height: 55px;
		width: 2px;
	
	}
	.alltours{
		position: relative;
    height: 30px;
    width: 93px;
	top: 37px;
    left: 142px;

	}
	.section-heading{
		font-size: 20px;
    position: relative;
    top: -44px;
    
	}
	.section-heading::after{
		width: 50px;
		position: relative;
		top: -20px;
	}
	.details2{
		height: 55px;
		width: 169px;
    margin-bottom: 127px;
    left: -22px;
  
    top: -100px;
		z-index: 2;
	}
	.explore-icons{
		height: 45px;
		width: 45px;
	}
	.explore-heads{
		font-size: 12px;
    width: 207px;
    position: relative;
    left: 22px;
    margin-left: 7px;
    top: -10px;
    padding: 2px 55px;
	}
	.weekend{
		left: -17px;
		top: -148px;
	
	}
	.backpack{
		top: -148px;
		left: -16px;
	}
	.custom{
		left: 3px;
		top: -148px;
	}
	.choose-us-page{
		top: -157px;
    left: -44px;
    position: relative;
    width: 150%;
	}
	.chooseus{
		width: 200%;
		position: relative;
		top: 8px;
		left: 2000px;
	}
	.binoculars{
		position: relative;
		top: 51px;
		left: 61px;
	
	}
	.chooseushead{
		font-size: 20px;
		position: relative;
		top: -128px;
		left: 125px;
	}
	.chooseushead::after{
		width: 50px;
		margin-top: -20px;
	}
	
	.contact-info{
		margin-left: 36px;
	}
	.footer-col{
		position: relative;
		left: -95px;
	}
	.imageblock{
		height: 214px;
    width: 183px;
	}
	.brandlogo{
		height: 109px;
		width: 142px;
		top: -211px;
	}
	.chooseusimg{
		position: relative;
		height: 298px;
    width: 440px;
    top: -554px;
    left: 53px;
	
	}
	.details{
		position: relative;
    font-size: 12px;
    left: -172px;
    height: 100px;
    top: -199px;
    width: 178px;

	
	}
	.chooseuscontent{
		width: 50%;
    font-size: 12px;
    top: -119px;
	}
	.detail-logos{
		height: 30px;
		width: 30px;
		position: relative;
		left: 204px;
		
	}
	.detail-heading{
		font-size: 15px;
    left: 147px;
    top: 28px;
    position: relative;
	}
	.detail-content{
		font-size: 8px;
    width: 219px;
    position: relative;
    left: 112px;
    top: 25px;
    padding: 9px 51px;
    margin-right: 61px;
	}
	.rights{
		position: relative;
		top: 28px;
    width: 480px;
    left: -15px;
	}
    
	.chooseusmount{
		width: 200px;
		height: 200px;
		position: relative;
		top: -425px;
    left: 53px;}
	.container{
		top: -400px;
	}
	.learnmore{
		
		position: relative;
		/* bottom: 258px; */
		top: -105px;
		font-size: 15px;
	
	}
	.aboutusimg{
		height: 241px;
    width: 321px;
    position: relative;
  
    top: -127px;
    left: -1px;

	}
	.aboutushead{

		font-size: 20px;
		position: relative;
		top: 148px;
		left: 125px;
	}
	.aboutushead::after{
		width: 50px;
		margin-top: -20px;
	}
	.aboutus{
		position: relative;
		width: 80%;
		position: relative;
		float: right;
		left: -9px;
		/* bottom: 538px; */
		top: -470px;}

	.container-search{
		top: -297px;
	}
	.flag{
		top: 377px;
		position: relative;
	}
	.aboutuscontent{
		width: 90%;
    font-size: 12px;
    top: 144px;
	}
	#counter{
		display: block;
		top: -1531px;
left: 55px;
	}
	.counter-title{
		display: flex;
		margin-top: -10px;
		text-align: center;
		left: 40px;
		font-size: 15px;
	}
	.counter-txt{
		width: 212px;
    height: 139px;
    left: 47px;
	top: 439px;
	}
	
	.reviews{
		position: relative;
	    top: -799px;
		left: 2000px;
	}
	
	.counter-value{
		font-size: 30px;
	}
	.section-heading2{
		position: relative;
		font-size: 30px;
		float: left;
		left: 128px;
		top: -45px;
	}
	.testimonial{
		top: -301px;
		position: relative;
	}
	.testimonial-slide{
		width: 300px;
	}
	.companiessection{
		z-index: 2;
		float: left;
		top: -546px;
		left: 48px;
	}
	.companiessection .row{
		position: relative;
		top: -100px;
		
    width: 332px;
	}
	.section-heading h2{
		font-size: 30px;
    position: relative;
    top: -231px;
    left: 20px;
	}
	.sliders{
		position: relative;
		top: -377px;
    left: -46px;
	}
	.sliders h1{
		font-size: 25px;
	}
	.slider-wrapper{
		position: relative;
		left: -84px;

	}
	.sliders2{
		position: relative;
		top: -537px;
    left: -54px;
	}
	.sliders2 h1{
		font-size: 25px;
	}
	.slider-wrapper{
		position: relative;
		left: -84px;

	}
	.slider-controls span{
		position: relative;
		left: 119px;
    top: -27px;
	}
	.photos-section{
		position: relative;
    top: -1948px;
    left: 8px;
    width: 502px;
	}
	.nav-link{
		position: relative;
		left: 100px;
	}
	
	.call-button{
		position: relative;
		left: 18px;
        
    top: 22px;
	}
	.mail-button{
		position: relative;
        top: 7px;
        left: 106px;
	}
	.social{
		position: relative;
        left: -53px;
        top: -14px;
    
	}
	.signup-button{
		position: relative;
		left: 33px;
		top: -9px;
	}
	.navbar{
		position: relative;
		left: -50px;
	}
	
}