
{% load static %}


{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static './images/favicon.ico' %}"/>
<title>Mount Monks</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500&display=swap"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
      integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<!--FONTAWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'blog.css' %}">

<link rel="stylesheet" href="{% static 'media-query3.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">

<header class="wow slideInDown">
  <div class="row">
    <div class="call-button">
      <a href="" class="call">
        <i class="fa fa-phone fa call-icon"> </i>98111189090
      </a>
    </div>
    <div class="mail-button">
      <a href="" class="email">
        <i class="fa fa-envelope fa email-icon"> </i>mountmonks@gmail.com
      </a>
    </div>
    <ul class="social">
      <li class="social-icons">
         <a href="">
          <i class="fa fa-facebook  socialicon"></i>
        </a>

      </li>
      <li class="social-icons" >
        <a href="">
          <i class="fa fa-twitter  socialicon"></i>
        </a>

      </li>
      <li class="social-icons">
       <a href="">
          <i class="fa fa-instagram  socialicon"></i>
        </a>

      </li>

    </ul>
    </div>
   
      
    <div id="nav">
        <div class="contained">
            <div id="logo">
                <img src="{% static 'images/logo2.png'%}" class="mmlogo">
            </div>
            <div class="container4">
                <div id="hamburger"><span></span><span></span><span></span></div>
                <div id="close"><span></span></div>
                <div id="menuWrapper">
                    <ul>
                        
                        <li>
                            <a href="{% url 'index'%}" alt="1">Home</a>
                            
                        </li>
                        
                        <li>
                            <a href="{% url 'roadtrips'%}" alt="1">Road tours</a>
                            <ul class="ddFadeSlow">
                                <li class="dropdown-items"><a href="#" alt="1">Fast: .ddFadeFast</a></li>
                                <li class="dropdown-items"><a href="#" alt="1">Medium: .ddFadeFade</a></li>
                                <li class="dropdown-items"><a href="#" alt="1">Slow: .ddFadeSlow (current!)</a></li>
                            </ul>
                        </li>
                        <li>
                          <a href="{% url 'bikingtrips'%}" alt="1">Biking tours</a>
                          <ul class="ddFadeSlow">
                              <li class="dropdown-items"><a href="#" alt="1">Fast: .ddFadeFast</a></li>
                              <li class="dropdown-items"><a href="#" alt="1">Medium: .ddFadeFade</a></li>
                              <li class="dropdown-items"><a href="#" alt="1">Slow: .ddFadeSlow (current!)</a></li>
                          </ul>
                      </li><li>
                        <a href="" alt="1"></a>
                        <ul class="ddFadeSlow">
                            <li class="dropdown-items"><a href="#" alt="1">Fast: .ddFadeFast</a></li>
                            <li class="dropdown-items"><a href="#" alt="1">Medium: .ddFadeFade</a></li>
                            <li class="dropdown-items"><a href="#" alt="1">Slow: .ddFadeSlow (current!)</a></li>
                        </ul>
                    </li>
                      <li>
                        <a href="{% url 'treks'%}" alt="1">Treks</a>
                        <ul class="ddFadeSlow">
                            <li class="dropdown-items"><a href="#" alt="1">Fast: .ddFadeFast</a></li>
                            <li class="dropdown-items"><a href="#" alt="1">Medium: .ddFadeFade</a></li>
                            <li class="dropdown-items"><a href="#" alt="1">Slow: .ddFadeSlow (current!)</a></li>
                        </ul>
                    </li>
                    <li>
                      <a href="{% url 'contactus'%}" alt="1">Contact us</a>
                      
                  </li>
                  <li>
                            <a href="{% url 'blog'%}" alt="1">Blogs</a>
                           
                        </li>
                        
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
      <h1 class="destination-head">Blogs</h1>
 
        <h3 class="explore-dest">Explore our blogs</h3>
      
      
    </header>
    
    

<!--STYLE SHEET-->

<div class="masonry">
  <div class="grid">
    <img src="https://source.unsplash.com/random/1">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/2">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/3">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/4">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/5">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/6">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/7">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/8">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/9">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/10">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/11">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="https://source.unsplash.com/random/12">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/19">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/20">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/13">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div> <div class="grid">
    <img src="https://source.unsplash.com/random/14">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/15">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/16">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/17">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
   <div class="grid">
    <img src="https://source.unsplash.com/random/18">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="{% url 'openblog'%}" ></a>
        <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Mario Rossi</p>
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
</div>


<!--HEADER-->



<!--BLOG SECTION-->
<footer class="footer theme-bg-primary wow fadeInLeft " id="foot">
  <div class="container py-5 mb-3 col-md-offset-2">
   <div class="row" style="margin-left: 20px">
     <div class="footer-col col-lg-3 contact-info">
       <h4 class="col-heading">CONTACT INFO
       </h4>
       <ul class="contacts">
          <li class="call">
              <a href="" class="phone">
                  <i class="fa fa-phone fa icon"> </i>98111189090
                </a>
             
          </li>
          <li class="email">
              <a href="" class="mail">
                  <i class="fa fa-envelope fa icon"> </i>mountmonks@gmail.com
                </a>
             
          </li>
       </ul>
       <ul class="social-list">
         <li class="list-inline-item">
           <a href="">
             <i class="fa fa-instagram fa-2x icons"></i>
           </a>
 
         </li>
         <li class="list-inline-item" >
           <a href="">
             <i class="fa fa-twitter fa-2x icons"></i>
           </a>
 
         </li>
         <li class="list-inline-item">
           <a href="">
             <i class="fa fa-facebook fa-2x icons"></i>
           </a>
 
         </li>
 
       </ul>
 
     </div>
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">ABOUT US
       </h4>
       <ul>
         <li class="links" >
           <a href="" class="link-head">
            Our Story
           </a>
 
         </li>
         <li class="links">
           <a href="" class="link-head">
            Travel Blogs
           </a>
 
         </li>
         <li class="links">
           <a href="" class="link-head">
             Working with us
           </a>
 
         </li>
         <li class="links">
           <a href="" class="link-head">
             Be our partner
           </a>
 
         </li>
        
       </ul>
 
     </div>
     
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">SUPPORT
       </h4>
       <ul>
         <li class="links">
           <a href="" class="link-head">
             Customer Support
           </a>
 
         </li>
         <li class="links">
           <a href="" class="link-head">
            Privacy & Policy
           </a>
 
         </li>
         <li class="links">
           <a href="" class="link-head">
             Contact Channels
           </a>
 
         </li>
        
       </ul>
 
     </div>
     <div class="footer-col col-lg-3">
       <h4 class="col-heading">PAY SAFELY WITH US
       </h4>
       
       <p class="about-us-para">
          The payment is encrypted and transmitted securely with an SSL protocol
       </p>
       <img src="{% static './images/creditcard-logo.png'%}" class="footerlogo">
 
     </div>
 
   </div>
 
   </div><div class="rights">
  <h3 class="right"> All right reserved</h3>
  </div>
  
</footer>

  
  
 
<!--REMOVE THIS-->

    {% endblock %}